- article = @article if @article
- @body_class = 'articles'
.post.rounded-top
  .head
    %h2
      %a{:href => "/#{article.permalink}"}
        = article.title
      %span
        %a.dsq-comment-count.comment-link.commentslink{:href => "http://www.mattsears.com/#{article.permalink}#disqus_thread"}
    .cl &nbsp;
  .body
    %p.with-border
      ~ article.body_html
.post-bottom
  :javascript
    var disqus_shortname = 'mattsears'; // required: replace example with your forum shortname
    var disqus_identifier = "/#{article.permalink}/";
    var disqus_url = "http://www.mattsears.com/#{article.permalink}";
- if @article
  .post-comments
    %br/
    #disqus_thread
    - if ENV['RACK_ENV'] != 'production'
      :javascript
        var disqus_developer = 1;
    :javascript
      var disqus_identifier = "/#{@article.permalink}/";
      var disqus_url = "http://www.mattsears.com/#{@article.permalink}";
      // The following are highly recommended additional parameters. Remove the slashes in front to use.
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    %noscript
      Please enable JavaScript to view the
      %a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus.
