#sidebar
  .get-in-touch
    .me
      %img{:class => 'fade', :src => '/images/me.png', :style => 'background: url(/images/me!.png)'}
    %p
      Hi. I'm Matt Sears, a web developer
      %span.amp &
      entrepreneur in Ohio. I run
      %a{:href => "http://littlelines.com", :rel => "external"} Littlelines,
      a distinguished web development and design firm.
  .rubyrags
    %a{:href => "http://rubyrags.com", :rel => "external"}
      %h2.nocufon RubyRags
      %p Shirts for Ruby Nerds And Ruby on Rails Junkies
  .elsewhere
    %ul
      %li
        %a.small-ico-twitter{:href => "https://twitter.com/mattsears", :rel => "external"}
          Follow Me on Twitter
  .recent-posts
    %h4 Recent Posts
    %ul
      -Aerial::Article.recent(:limit => 5).each do |article|
        %li
          %a{:href => "/#{article.permalink}"}=article.title
  .categories
    %h4 Categories
    %ul
      -Aerial::Article.tags.each do |tag|
        %li
          %a{:href => "/articles/tags/#{tag}"}=tag
  .archives
    %h4 Archives
    %ul
      -Aerial::Article.archives.each do |archive|
        %li
          %a{:href => "/articles/archives/#{archive[0][0]}"}="#{archive[0][1]} (#{archive[1]})"
.cl &nbsp;
