#sidebar
  .get-in-touch
    .me
      %img{:class => 'fade', :src => '/images/me.png', :style => 'background: url(/images/me!.png)'}
    %p
      Hi. I'm Matt Sears, a web developer
      %span.amp &
      entrepreneur in Ohio. I run
      %a{:href => "http://littlelines.com", :rel => "external"} Littlelines,
      a distinguished web development and design firm.
    %p
      I use this blog to share my ideas and as a way to learn.
      Feel free to contact me via email or follow me on Twitter at
      %a{:href => "https://twitter.com/mattsears", :rel => "external"}
        @mattsears.
  .elsewhere
    %h4 Connect
    %ul
      %li
        %a.small-ico-external{:href => "https://twitter.com/mattsears", :rel => "external"} Twitter
      %li
        %a.small-ico-external{:href => "http://www.facebook.com/mattsears.me", :rel => "external"} Facebook
      %li
        %a.small-ico-external{:href => "http://www.linkedin.com/in/matthewsears", :rel => "external"} LinkedIn
      %li
        %a.small-ico-external{:href => "http://github.com/mattsears", :rel => "external"} Github
      %li
        %a.small-ico-external{:href => "https://plus.google.com/106286747861473847411", :rel => "external"} Google+
      %li
        %a.small-ico-external{:href => "http://forrst.me/mattsears.me", :rel => "external"} Forrst
      %li
        %a.small-ico-external{:href => "http://www.flickr.com/photos/matthewsears", :rel => "external"} Flickr
      %li.last
        %a.small-ico-external{:href => "http://mattsears.tumblr.com", :rel => "external"} Tumblr
  .recent-posts
    %h4 Recent Posts
    %ul
      -Aerial::Article.recent(:limit => 5).each do |article|
        %li
          %a{:href => "/#{article.permalink}"}=article.title
  .categories
    %h4 Categories
    %ul
      -Aerial::Article.tags.each do |tag|
        %li
          %a{:href => "/articles/tags/#{tag}"}=tag
  .archives
    %h4 Archives
    %ul
      -Aerial::Article.archives.each do |archive|
        %li
          %a{:href => "/articles/archives/#{archive[0][0]}"}="#{archive[0][1]} (#{archive[1]})"
.cl &nbsp;
