- article = @article if @article
.post
  .head
    %h2.nocufon
      %a{:href => article.permalink}
        = article.title
    %p.subtitle
    %span.comments{:href => "#"}
      %a.dsq-comment-count.comment-link.commentslink{:href => "#{article.permalink}#disqus_thread"}
    %span.author
      = "Posted by #{article.author} on #{humanized_date article.publish_date}"
    .cl &nbsp;
  .body
    %p.with-border
      ~ article.body_html
  .post-separator &nbsp;

