!!! Strict
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %title= yield_content :title
    %meta{ 'name' => "keywords", 'content' => 'Matt Sears, Matt, Sears' }
    %meta{ 'author' => "Matt Sears" }
    %link{:href => "http://feeds.feedburner.com/mattsears", :rel => 'alternate', :type => 'application/atom+xml', :title => "Feed for #{Aerial.config.name}" }
    %link{:href => "/images/favicon.png", :rel => "shortcut icon"}/
    %link{:href => "/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    /[if IE 6]
      <link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
    %script{:charset => "utf-8", :src => "/javascripts/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/javascripts/cufon-yui.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/javascripts/titillium_400_mod2.font.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/javascripts/titillium_800_mod2.font.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/javascripts/cross-fade.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/javascripts/jquery.tipsy.js", :type => "text/javascript"}
    %script{:charset => "utf-8", :src => "/javascripts/application.js", :type => "text/javascript"}
  %body{:class => "#{@body_class ||= 'index'}" }
    .page-bg &nbsp;
    #header
      .shell
        .cl &nbsp;
        %a{:href => "/"}
          %h1#logo.nocufon
        .right
          .cl &nbsp;
          #navigation
            %ul
              %li.home-link
                %a{:href => "/"} Home
              %li.divider /
              %li.articles-link
                %a{:href => "/articles"} Articles
              %li.divider /
              %li.tumblr-link
                %a{:href => "http://mattsears.tumblr.com"} Notebook
              %li.divider /
              %li.about-link
                %a{:href => "/about"} About
          .cl &nbsp;
        .cl &nbsp;
    #main
      .shell= yield
    #footer
      .shell
        .left
          %p &copy; Copyright #{Time.now.year} Matt Sears. All Rights Reserved.
        %p.footer-navigation
          Powered by
          %a{:href => "http://mattsears.github.com/aerial", :rel => 'external'} Aerial
          on
          %a{:href => "http://heroku.com", :rel => 'external'} Heroku
        .cl &nbsp;
    :javascript
      Cufon.now();
      //
      (function () {
        var disqus_shortname = 'mattsears';
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
      //

      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4fb913d1f5a1f50be2000073');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
