!!! XML
%rss{"version" => "2.0"}
  %channel
    %title= "Matt Sears"
    %link= "http://#{request.host}"
    %language= "en-us"
    %ttl= "40"
    %generator Aerial
    %description= "#{Aerial.config.subtitle}"
    %pubDate= @articles.first ? rss_date(@articles.first.publish_date) : rss_date(Time.now.utc)
    - @articles.each do |article|
      %item
        %title= article.title
        %link= "http://www.mattsears.com/#{article.permalink}"
        %description= "<![CDATA[#{article.body_html}]]>"
        %pubDate= rss_date(article.publish_date)
        %guid{"isPermaLink" => "false"}= article.id