!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/[if gt IE 8] ><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= "Matt Sears | #{data.page.title}"
    %meta{:content => "Matt Sears, Matt, Sears", :name => "keywords"}/
    %meta{:author => "Matt Sears"}/
    %link{:href => "http://feeds.feedburner.com/mattsears", :rel => "alternate", :title => "Feed for mattsears", :type => "application/atom+xml"}/
    %link{:href => "/images/favicon.png", :rel => "shortcut icon"}/
    %link{:href => "/fonts/ss-social.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "app"
  %body
    %nav
      .row
    .row
      .twelve.columns.centered
        = yield

        %footer.row.text-center
          .twelve.columns
            .row
              .twelve.columns
                %p
                  Copyright © 2016 Matt Sears.

    :javascript
      //
        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '4fb913d1f5a1f50be2000073');
          t.src = '//secure.gaug.es/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();
      //
    = javascript_include_tag  "all"
