- wrap_layout :layout do
  .row
    .ten.column.centered
      %article
        %header.text-center
          %a{:href => "/"}
            %img.me{:alt => "Matt Sears", :height => "100", :src => "/images/matt-sears.png", :title => "Matt Sears", :width => "100"}
          %h2
            %a{:href => current_article.url}
              = current_article.title
          %h5
            Written by
            %a{:href => "#"} Matt
            on
            = current_article.date.strftime('%b %e')
            \/
            %span
              %a.dsq-comment-count.comment-link.commentslink{:href => "http://www.mattsears.com#{current_article.url}#disqus_thread"}
        .row
          .ten.column.centered
            = yield

      .ten.column.centered
        #disqus_thread

        :javascript
          var disqus_shortname = 'mattsears';
          var disqus_identifier = "#{current_article.url}";
          var disqus_url = "http://www.mattsears.com#{current_article.url}";

          (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          }());

          // The following are highly recommended additional parameters. Remove the slashes in front to use.
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();

        %noscript
          Please enable JavaScript to view the
          %a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus.