---
title: Articles
pageable: true
---

.row
  .large-7.columns.large-centered
    %header.text-center
      %a{href: '/'}
        %img{src: "/images/matt-sears.jpg", width: '200', height: '200', class: 'me' }/

- page_articles.each do |article|
  .row
    .large-10.columns.large-centered
      %article
        %header.text-center
          %h2
            %a{:href => article.url}
              = article.title
          %h5
            Written by
            %a{:href => "#"} Matt
            on
            \/
            = article.date.strftime('%b %e')
        .row
          .large-10.column.large-centered
            = article.body
            %hr/

.row.large-10.columns.large-centered.paginator
  .row.large-3.columns
    - if next_page
      = link_to '← Older posts', next_page
  .row.large-3.columns.text-right
    - if prev_page
      = link_to 'Newer posts →', prev_page
