!!! Strict
%html
  %head
    %title= page_title
    %script{ 'type' => "text/javascript", :src => "/javascripts/jquery-1.3.1.min.js" }
    %script{ 'type' => "text/javascript", :src => "/javascripts/jquery.template.js" }
    %script{ 'type' => "text/javascript", :src => "/javascripts/application.js" }
    %link{:href => '/style.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => "http://#{hostname}/feed.xml", :rel => 'alternate', :type => 'application/atom+xml', :title => "Feed for #{Aerial.config.name}" }
  %body{:class => "#{path}" }
    #container
      #header
        #logo
          %h1
            %a{:href => '/'}= Aerial.config.name
            %span
              =Aerial.config.subtitle
        %ul
          %li
            %a{:href => '/'} Home
          %li
            %a{:href => '/articles'} Articles
          %li
            %a{:href => 'mailto:matt@mattsears.com'} Contact
          %li
            %a{:href => '/feed.xml'} Subscribe
            %img{:src => '/images/icon-rss.gif'}
      #content= yield
      =@content_for_sidebar
      #footer
        %p#legal= "&copy; #{Time.now.strftime('%Y')} #{Aerial.config.author}"
        %p#powered= "powered by <a href='http://github.com/mattsears/aerial' title='Aerial' >Aerial</a>"
    %script{ 'type' => "text/javascript", :src => "/javascripts/ga.js" }
